/*
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Medium.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Bold.ttf");
  font-weight: bold;
}
 шрифты не подключились, не могу понять в чем дело */


body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background-color: #849d8f;
}

h2 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.dropdown-block {
  display: none;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header .container{
  position: relative;
}

.logo {
  float: left;
  width: 155px;
}

.user-block {
  float:right;
  width: 450px;
  text-align: right;
}

/* .user-block div {
  display: inline-block;
} когда я хочу выровнять в ряд поиск - вход - корзину, появляются скрытые ранее элементы: формы и тд.. */


.info {
  position: absolute;
  top: 100px;
  right: 40px;
  width: 190px;
  text-align: right;
}

.main-navigation {
  float: left;
}

.main-navigation li {
  display: inline-block;
}

.slider-items {
  overflow: hidden;}

.slider-wrapper {
  width: 300%;
}

.slider-item {
  float: left;
  width: 1146px;
  height: 550px;
  background-color: pink;
  text-align: center;
  vertical-align: bottom;
}

.slider-item h2 {
  font-size: 60px;
  line-height: 60.35px;
  margin: 0px auto;
  padding-top: 300px;
  width: 710px;
}

/*
как лучше сделать наложение текста("давайте оба") на изображение мороженок?
img { position: absolute} ?
Или лучше вынести мороженки к body? стр 12 получается? */



.filter-block {
  display: inline-block;
  margin-right: 19px;
  margin-bottom: 16px;
}


.special-item--raspberry {
  float: left;
  width: 560px;
  background-color: #5e021a;
  background-image: url("/img/backgrounds/raspberry-background.png") no-repeat center top;
/* не понимаю, что не так и почему фоны не подгружаются*/
  font-size: 18px;
}

.special-item--chocolate {
  float: right;
  width: 560px;
  background-color: #371d0e;
  background-image: url("/img/backgrounds/chocolate-background.png") no-repeat center top;;
  font-size: 18px;
}

.special-item--raspberry h3,
.special-item--chocolate h3 {
  font-size: 35px;
}

.goods {
  font-size: 0px;
}

.goods-item {
  display: inline-block;
  width: 267px;
  margin: 40px 26px 0 0;
  font-size: 16px;
  vertical-align: top;
}

.goods-item:nth-child(4n) {
  margin-right: 0px;
}

.about-info p {
  display: inline-block;
  width: 510px;
  margin-left: 55px;
}

.special-item--blog {
  float: left;
  width: 560px;
}

.special-item--subscription {
  float: right;
  width: 560px;
}

.contacts {
  background-color: #ffffff;
}

.address-container {
  float: right;
  margin: 65px 0px;
  padding: 30px;
  width: 305px;
  background-color: gray;
}

.footer-social {
  float: left;
  width: 267px;
  margin-right: 26px;
}

.footer-social a {
  display: inline-block;
  margin: 37px 14px 30px 0;
}

.footer-info {
  float: left;
  width: 560px;
  padding-top: 30px;
  margin-right: 26px;
}

.footer-info-left {
  float: left;
  width: 143px;
}

.footer-info-right {
  float: left;
  width: 174px;
}

.footer-copyright {
  float: right;
  width: 267px;
  padding-top: 16px;
}
