body {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background: #849d8f;
  min-width: 1200px;
}

h2 {
  font-size: 60px;
  line-height: 60.35px;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Roboto', 'Arial', sans-serif;
}

p {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Roboto', 'Arial', sans-serif;
}

a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 10px 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: 0;
}

.button:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-buy {
  padding: 12px 45px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.dropdown {
  position: relative;
  border-radius: 20px;
  padding-bottom: 10px;
}

.dropdown-block {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0,0,0,0.1);
  z-index: 2;
}

.dropdown:hover .dropdown-block {
  display: block;
}

.dropdown:hover>a, .main-navigation a:hover {
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}

.header-gradient {
  position: absolute;
  height: 1000px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 10%, rgba(255, 255, 255, 0.01) 50%, transparent 100%);
  z-index: -1;
}


.main-navigation .active {
  background-color: #d07058;
}

.main-navigation .active::after {
  display: none;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-header .container {
  position: relative;
}

.logo {
  float: left;
  width: 155px;
  margin-top: 8px;
  margin-left: -5px;
}


/* основное меню и подменю */

.main-navigation {
  float: left;
  margin-left: 16px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  padding-top: 23px;
  vertical-align: top;
  font-size: 0;
}

.main-navigation a {
  position: relative;
  display: block;
  padding: 6px 12px 7px 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  border-radius: 30px;
}

.main-navigation>a::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 10px;
  right: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-navigation a:active {
  box-shadow: inset 0 2px 1px #696969;
}

.dropdown:hover>a::after, .main-navigation a:hover::after {
  border: none;
}

.main-navigation-sub {
  width: 143px;
  left: -7px;
}

.main-navigation-sub li {
  display: block;
  margin: 0;
  padding: 0;
}

.main-navigation-sub li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.main-navigation-sub li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.main-navigation-sub a {
  padding: 6px 20px;
  margin: 3px 0;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  border-radius: 0;
}

.main-navigation-sub li:last-child {
  margin-bottom: 7px;
}

.main-navigation-sub li:first-child a {
  margin: 0;
  padding: 12px 20px;
  font-weight: 700;
}

.main-navigation-sub li:first-child::after {
  content: "";
  position: absolute;
  left: 5px;
  right: 5px;
  border-bottom: 1px solid #d1d0ce;
}

.main-navigation-sub a:hover {
  background-color: #fbded8;
  border-radius: inherit;
}

.main-navigation-sub a:active {
  background-color: #f6b5a5;
  border-radius: inherit;
  box-shadow: none;
}

.main-navigation-sub .current a {
  color: #ffffff;
  background-color: #d07058;
  border-radius: inherit;
}

.main-navigation-sub:hover .main-navigation {
  color: #000000;
  text-decoration: none;
  background-color: #ffffff;
}


/* поиск и тд */

.user-block {
  float: right;
  padding-top: 23px;
  width: 450px;
  text-align: right;
  font-size: 0;
}

.user-block>div {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
}

.user-block a {
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
}

.login-btn, .search-btn, .cart-btn {
  display: inline-block;
  padding: 8px 15px 8px 45px;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  border-radius: 30px;
}

.login-btn:hover, .search-btn:hover, .cart-btn:hover {
  background-color: #ffffff;
  color: #323232;
}

.search-btn {
  padding: 16px;
  background-position: 2px -494px;
}

.dropdown:hover .search-btn {
  background-position: 2px -521px;
}

textarea:focus, input:focus {
  outline: none;
}

.dropdown-block input:hover, .dropdown-block textarea:hover, .subscription-form input:hover {
  border: 2px solid #c7c6c5;
}

.dropdown-block input:focus, .dropdown-block textarea:focus, .subscription-form input:focus {
  border: 2px solid #8fbdec;
}

.dropdown-block input, .dropdown-block textarea, .subscription-form input {
  padding: 6px 10px;
  margin: 20px 15px 0 15px;
  width: 240px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 14px;
  color: #999999;
  font-weight: 400;
}

.dropdown-block input+label, .subscription-form input+label {
  display: block;
  position: relative;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.dropdown-block input+label>span, .subscription-form input+label>span {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: #999999;
  font-size: 14px;
  line-height: 24px;
}

.dropdown-block input:focus+label>span, .subscription-form input:focus+label>span {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 25px;
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
}

.dropdown-block input:valid+label>span, .subscription-form input:valid+label>span {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 25px;
  margin: 0;
  padding: 0;
  font-size: 11px;
  line-height: 13px;
  color: #999999;
}

.user-block .search-line {
  width: 300px;
}

.user-block .search {
  padding-bottom: 20px;
}

.login-btn {
  background-position: 11px -437px;
}

.dropdown:hover .login-btn {
  background-position: 11px -466px;
}

.login-container .dropdown-block {
  width: 280px;
  height: 215px;
}

.login-container .dropdown-block input {
  width: 240px;
}

.login-container .form-half-width {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 20px;
  padding-right: 0;
  text-align: left;
}

.login-container .form-half-width:last-child {
  padding-left: 0;
  padding-right: 20px;
}

.login-container button {
  float: left;
  margin: 0;
}

.login-container .dropdown-block a {
  font-size: 13px;
  line-height: 24px;
  color: #4c4c4c;
  text-decoration: underline;
}

.cart-btn {
  background-position: 12px -377px;
  min-width: 115px;
  text-align: left;
  box-sizing: border-box;
}

.dropdown:hover .cart-btn, .active .cart-btn {
  background-position: 12px -407px;
  background-color: #ffffff;
  color: #323232;
}

.active .cart {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart {
  width: 540px;
  padding: 20px 15px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.cart table {
  float: right;
  border-collapse: collapse;
  margin-bottom: 15px;
  font-weight: 400;
  text-align: left;
}

.cart td {
  padding: 10px;
}

.cart-item-title {
  width: 220px;
}

.cart-item-title a{
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.cart-item-amount {
  width: 220px;
}

.cart-item-price {
  color: #a0a0a0;
}

.cart-item-cost {
  padding-right: 20px;
}

.cart tr:last-child {
  border-bottom: 1px solid #cacac7;
}

.final-amount {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #333333;
  margin: 0;
}

.delete-btn::before, .delete-btn::after {
  content: "";
  position: absolute;
  left: 20px;
  width: 11px;
  height: 1px;
  border-radius: 1px;
  background-color: #3e3e3e;
}

.delete-btn::before {
  transform: rotate(45deg);
}

.delete-btn::after {
  transform: rotate(-45deg);
}

.cart .button {
  margin-top: 15px;
}

.info {
  position: absolute;
  top: 70px;
  right: 27px;
  width: 180px;
  font-size: 14px;
  text-align: right;
}

.info-number {
  font-size: 22px;
  line-height: 24px;
  white-space: nowrap;
}


/*  слайдер */

body>input[type="radio"] {
  display: none;
}

.slider-background {
  position: absolute;
  width: 100%;
  min-height: 1100px;
  height: 100%;
  z-index: -1;
}

.slider-container {
  position: relative;
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider-item {
  display: none;
  position: relative;
  text-align: center;
  position: relative;
  margin-bottom: -50px;
}
.slider-container::before {
  content: "";
  position: absolute;
  top: -15%;
  right: 0;
  left: 0;
  width: 100%;
  height: 1200px;
  background: radial-gradient(circle at 50% 400px, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.01), transparent);
  z-index: -1;
}

.slider-buy-wrapper {
  position: absolute;
  bottom: 90px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 690px;
}

.slider-buy-wrapper h2 {
  margin-bottom: 35px;
}

.slider-controls {
  position: absolute;
  bottom: 112px;
  left: -102px;
  z-index: 2;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked~.main-content .slider-items #slide1, #btn-2:checked~.main-content .slider-items #slide2, #btn-3:checked~.main-content .slider-items #slide3 {
  display: block;
}

#btn-1:checked~.slider-background {
  background-color: #849d8f;
}

#btn-2:checked~.slider-background {
  background-color: #8996a6;
}

#btn-3:checked~.slider-background {
  background-color: #9d8b84;
}

.slider-background {
  position: fixed;
  width: 100%;
  height: 100%;
}

#btn-1:checked~.main-content .slider-controls label[for="btn-1"], #btn-2:checked~.main-content .slider-controls label[for="btn-2"], #btn-3:checked~.main-content .slider-controls label[for="btn-3"] {
  background-color: #ffffff;
}

.filter-block, .filter-container .form-btn {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 16px;
  vertical-align: bottom;
}

.breadcrumbs {
  padding-top: 18px;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  position: relative;
  padding-right: 20px;
}

.breadcrumbs a::before {
  content: "»";
  position: absolute;
  bottom: 0;
  left: -15px;
}

.breadcrumbs a:first-child::before {
  display: none;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 20px;
  border-bottom: 1px solid #aebeb5;
}

.breadcrumbs a:hover, .breadcrumbs a:focus, .breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs a:hover::after, .breadcrumbs a:focus::after, .breadcrumbs a:active::after {
  border-color: #ffbc9e;
}

.breadcrumbs a:hover::before, .breadcrumbs a:focus::before, .breadcrumbs a:active::before {
  color: #ffffff;
}

.breadcrumbs .active::after {
  display: none;
}

h1 {
  margin-top: 0px;
  margin-bottom: 25px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filter-label>label, .filter-label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500px;
  padding: 0 0 5px 10px;
  vertical-align: top;
}

.filter-choose label {
  display: inline-block;
  vertical-align: baseline;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  padding-right: 22px;
}

.filter-choose label:last-child {
  padding-right: 0px;
}

.filter-choose, .form-btn {
  padding: 8px 15px;
  background-color: #abbcb2;
  border-radius: 30px;
}

.form-btn {
  width: 145px;
  height: 36px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  padding: 8px 25px;
  margin: 0;
}

.form-btn:hover, .form-btn:focus {
  background-color: #ffffff;
  color: #323232;
}

.form-btn:active {
  background-color: #eaeaea;
  border: none;
  color: #323232;
  box-shadow: inset 0 1px 1px 1px #6c6d6c;
  outline: none;
}


/* выпадающий список */

.filter-select {
  position: relative;
  width: 190px;
  overflow: hidden;
  box-sizing: border-box;
}

select {
  width: 220px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500px;
  color: #ffffff;
  cursor: pointer;
}

.filter-select::after {
  content: "";
  position: absolute;
  top: 17px;
  right: 13px;
  border: 5px solid #ffffff;
  border-bottom-width: 0;
  border-right-color: transparent;
  border-left-color: transparent;
}

/* range-filter */

.price-controls {
  font-size: 0;
  line-height: 18px;
  padding-left: 10px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  padding: 0;
}

.price-controls input {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  width: 25px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.range-controls {
  position: relative;
  width: 200px;
  height: 5px;
  padding: 16px 10px;
  background-color: #abbcb2;
  border-radius: 30px;

}

.range-controls .scale {
  height: 4px;
  background-color: #d1dad3;
}

.range-controls .bar {
  width: 60%;
  height: 4px;
  background-color: #f8f7f4;
}

.range-controls .toggle {
  position: absolute;
  top: 7px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background-color: #f8f7f4;
  box-shadow: 0 2px 1px 0 #a2b0a7;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 10px;
}

.range-controls .toggle-max {
  left: 125px;
}

/* checkboxes and radio */

.filter-radio,
.filter-checkbox {
  display: inline-block;
  vertical-align: middle;;
  font-size: 14px;
  position: relative;
}

.filter-radio input,
.filter-checkbox input{
  display: none;
}

.filter-radio input + span,
.filter-checkbox input + span{
  padding-left: 28px;
  cursor: pointer;
}

.filter-radio input + span {
  padding-left: 25px;
}

.filter-radio input:disabled + span,
.filter-checkbox input:disabled + span,
.filter-radio input:checked:disabled + span,
.filter-checkbox input:checked:disabled + span {
  cursor: not-allowed;
}

.filter-radio::before,
.filter-checkbox::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #fff;
  position: absolute;
  left: 0;
  top: -3px;
}

.filter-radio::before{
  border-radius: 50%;
}
.filter-checkbox::before{
  border-radius: 4px;
}

.filter-radio input + span::before,
.filter-checkbox input + span::before,
.filter-checkbox input + span::after {
  content: "";
  position: absolute;
  background: #fff;
  display: none;
}

.filter-radio input:checked + span::before{
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: 4px;
  top: 1px;
}

.filter-checkbox input:checked + span::before,
.filter-checkbox input:checked:disabled + span::before {
  display: block;
  width: 11px;
  height: 2px;
  left: 7px;
  top: 8px;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
}

.filter-checkbox input:checked + span::after,
.filter-checkbox input:checked:disabled + span::after {
  display: block;
  width: 6px;
  height: 2px;
  left: 3px;
  top: 9px;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}

.filter-checkbox input:checked:disabled + span::before,
.filter-checkbox input:checked:disabled + span::after {
  background-color: rgba(255,255,255,0.3);
}

.filter-radio:hover::before,
.filter-checkbox:hover::before {
  border: 2px solid #ffffff;
}

input:checked:disabled + span:before,
input:disabled + span::before,
input:checked:disabled:hover + span::before,
input:disabled:hover + span::before {
   background-color: rgba(255,255,255,0.3);
}

.filter-block .disabled::before,
.filter-block .disabled:hover::before {
  border: 1px solid rgba(255,255,255,0.3);
  cursor: not-allowed;
}


.specials {
  position: relative;
  margin-bottom: 40px;
}

.special-item {
  float: left;
  width: 560px;
  padding: 15px 18px;
  box-sizing: border-box;
  border-radius: 15px;
}

.special-item+.special-item {
  margin-left: 26px;
}

.special-item h3 {
  margin: 0 auto;
}

.special-item p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 45px;
}

.special-item .button {
  float: right;
  margin-bottom: 11px;
}

.special-item--raspberry {
  background: #5e021a url("../img/backgrounds/raspberry-background.png") no-repeat center center;
}

.special-item--chocolate {
  background: #371d0e url("../img/backgrounds/chocolate-background.png") no-repeat center center;
}

.goods {
  font-size: 0;
  margin-top: 20px;
}

.goods-item {
  position: relative;
  display: inline-block;
  width: 267px;
  margin: 0 26px 40px 0;
  font-size: 0;
  vertical-align: top;
  text-align: center;
}

.goods-item:nth-child(4n) {
  margin-right: 0;
}

.goods-item--hit::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  padding: 30px;
  background: #ffffff url(../img/sprite.png) no-repeat -5px -266px;
  border-radius: 50px;
  z-index: 1;
}

.goods-img img{
  position: relative;
}

.goods-price {
  position: absolute;
  top: 210px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

.goods-price .price-sum {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.goods-price .price-sum::after {
  display: inline-block;
  vertical-align: inherit;
  content: "";
  width: 35px;
  height: 40px;
  background: url(../img/sprite.png) no-repeat 0px -547px;

}


.goods-price .price-measure {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.goods-item .goods-name {
  display: inline;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  border-bottom: 1px solid #a7b8ad;
}
.goods-item--btn {
  display: none;
  position: absolute;
  top: 100%;
  left: 20px;
}

.goods-item::before {
  display: none;
  content: "";
  position: absolute;
  top: -10px;
  bottom: -55px;
  left: -10px;
  right: -10px;
  background-color: rgba(174, 190, 180, 0.3);
  box-shadow: 0 5px 5px 10px rgba(116, 138, 126, 0.4);
  border-radius: 5px;
}
.goods-item:hover{
  z-index: 2;
}
.goods-item:hover::before {
  display: block;
}
.goods-item:hover .goods-item--btn {
  display: block;
}

.about {
  background: #efe0c5 url("../img/backgrounds/vaffle.png") repeat top left;
  border-radius: 15px;
  margin-top: -10px;
  padding: 25px 0 25px 20px;
}

.about-description {
  color: #000000;
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.about-info {
  font-size: 0;
  margin: 0;
  padding: 0;
}

.about-text {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 25px 25px 0 55px;
  width: 50%;
  box-sizing: border-box;
  color: #000000;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  vertical-align: top;

}

.about-info p:first-child::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -5px;
  padding: 26px;
  background: transparent url(../img/sprite.png) no-repeat -3px -63px;
}

.about-info p:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -5px;
  padding: 26px;
  background: transparent url(../img/sprite.png) no-repeat -3px -3px;
}

.about-info p:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -5px;
  padding: 26px;
  background: transparent url(../img/sprite.png) no-repeat -3px -120px;
}

.about-info p:last-child::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -5px;
  padding: 26px;
  background: transparent url(../img/sprite.png) no-repeat -2px -179px;
}

.special-item--blog {
  margin-top: 40px;
  color: #000000;
  padding: 20px;
  background: #ffffff url("../img/backgrounds/strawberry-background.png") no-repeat right top;
}

.special-item--blog h3 {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  margin: 0;
}

.special-item--blog .post {
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  text-decoration: underline;
  margin: 10px 0px 59px 0px;
}

.special-item--subscription {
  margin-top: 40px;
  background: #ffffff url("../img/backgrounds/mail-pattern.png") repeat left top;
  padding: 0;
}

.subscription-form {
  background-color: #f8f7f4;
  border-radius: 25px;
  box-sizing: border-box;
  margin: 5px;
  padding: 30px 20px 90px 20px;
  font-size: 0;
}

.subscription-form p {
  font-size: 16px;
  font-weight: 300;
  color: #5a5a5a;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 25px;
}

.subscription-form input, .subscription-form button {
  display: inline-block;
}

.subscription-form .button {
  float: right;
  padding: 10px 15px;
  margin: 10px 12px 30px 0;
}

.subscription-form input {
  float: left;
  margin: 10px 0;
  width: 360px;
}

.subscription-form input+label>span {
  top: 20px;
  left: 10px;
}

.subscription-form input:focus+label>span, .subscription-form input:valid+label>span {
  top: -5px;
  left: 10px;
}

.contacts {
  position: relative;
  display: block;
  width: 100%;
  height: 430px;
  margin-top: 30px;
  background: transparent url("../img/backgrounds/map.jpg") no-repeat center top;
}

.map {
  position: absolute;
  width: 100%;
  height: 430px;
  margin: 0;
  padding: 0;
}

.address-container {
  float: right;
  position: relative;
  margin-top: 60px;
  padding: 30px 20px;
  width: 305px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10px;
}
.address-container p {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.address-container .address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.address-container .tel {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-top: 10px;
}

.show-feedback {
  margin-left: 10px;
  margin-top: 20px;
}



.feedback-wrapper:hover a {
  color: #ffffff;
}

/* paginator */

.paginator {
  width: 100%;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.paginator a {
  padding: 3px 9px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  margin: auto 0px;
}

.paginator .prev, .paginator .next {
  position: relative;
  font-size: 0px;
}

.paginator .prev::before, .paginator .prev::after,
.paginator .next::before, .paginator .next::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 2px;
  background-color: rgba(255, 255, 255, 1);
}

.paginator .prev::before, .paginator .prev::after {
  top: 0px;
  left: 0px;
}

.paginator .next::before, .paginator .next::after {
  top: 0px;
  right: 0px;
}

.paginator .prev::before {
  transform: rotate(45deg);
  top: -5px;
}

.paginator .next::before {
  transform: rotate(-45deg);
  top: -5px;
}

.paginator .prev::after {
  top: 1px;
  transform: rotate(-45deg);
}

.paginator .next::after {
  top: 1px;
  transform: rotate(45deg);
}

.paginator a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.paginator .prev:hover, .paginator .next:hover {
  background: none;
}

.paginator .active, .paginator a:active, .paginator .active:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
}

.paginator .disabled::before, .paginator .disabled::after {
  background-color: #9db1a5;
  cursor: not-allowed;
}

.footer-social {
  float: left;
  width: 267px;
  margin-right: 26px;
  font-size: 0;
}

.footer-social .social-btn {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 37px 14px 30px 0;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  font-size: 0;
}

.social-btn {
  opacity: 0.7;
}

.social-btn:hover {
  border: 4px solid #dae2de;
  opacity: 1;
}

.social-btn:active {
  border: 4px solid #d9e1dd;
  box-shadow: inset 0 3px 3px 0 black;
}

.footer-info {
  float: left;
  width: 560px;
  padding-top: 30px;
  padding-left: 150px;
  margin-right: 26px;
  box-sizing: border-box;
}

.footer-info-left {
  float: left;
  width: 123px;
  padding-right: 20px;
}

.footer-info-right {
  float: left;
  width: 174px;
}

.footer-info a {
  position: relative;
  font-size: 13px;
  line-height: 18px;
}

.footer-info-left a:first-child::before {
  content: "";
  position: absolute;
  left: -30px;
  padding: 10px;
  background: transparent url(../img/sprite.png) no-repeat 0 -235px;
}

.footer-info a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  float: right;
  text-align: right;
  width: 267px;
  padding-top: 16px;

}

.footer-copyright img {
  padding-right: 80px;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  white-space: nowrap;
  margin: 0;
}

.footer-copyright .academy {
  position: relative;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
}

.footer-copyright .academy::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.feedback {
  display: none;
  position: fixed;
  top: 60px;
  left: 50%;
  width: 480px;
  height: 445px;
  padding: 10px;
  margin: 0;
  margin-left: -240px;
  box-sizing: border-box;
}

.feedback h3 {
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin: 0;
  padding: 10px 10px 0 10px;
}

.feedback .feedback-btn {
  float: right;
  margin: 20px 10px;
}

.feedback textarea {
  width: 430px;
  height: 150px;
  box-sizing: border-box;
}

.feedback .delete-btn {
  float: right;
  position: relative;
  padding: 10px;
  background: none;
  border: none;
  font-size: 0;
  cursor: pointer;
}

.feedback .delete-btn::before, .feedback .delete-btn::after {
  height: 20px;
  width: 2px;
  top: 0;
  left: 10px;
}

.modal-content-show {
  display: block;
}
